[user]
	name = chunjie-sam-liu
	email = chunjie-sam-liu@foxmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	cl = clone
	pl = pull
	ps = push
	ad = add
	co = checkout
	ss = status
	sv = status -v -v
	cm = commit -m
	br = branch -a -vv
	bd = branch -d
	bu = branch -u
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	df = diff
	mg = merge --no-ff -m
	rm = rm -r --cached
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	default = matching
	followTags = true
[pager]
	branch = false
	tag = false
[core]
	editor = "vim"
[help]
	autocorrect = 1
